html {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }
}

a {
  padding: 1.5rem;
  float: left;
  text-align: center;
}

.btn {
  text-decoration: none;
  background-color: #333;
  color: #fff;
}

.col {
  background-color: #f2f2f2;
  display: inline-block;
  width: 25%;
  margin: 0;
  float: left;
  padding: 1.5rem;
}
div {
  display: inline-block;
}

h1{
  text-align: center;
  font-size: 2rem;
}

h2 {
  line-height: 1.5;
}

h3 {
  font-size: .875rem;
  line-height: 1.5;
}

.btn:hover {
  background-color: #e2e2e2;
}

img {
  width: 100px;
  margin: 0 auto 1.5rem;
  display: block;
}

.btn {
  padding: .75rem;
  border-radius: 6px;
}

.column-1 {
  border-left: solid #000 1px;
  background-color: #e2e2e2;
}

.column-2 {
  background-color: #ccc;
  border-left: solid #000 1px;
}

.column-3 {
  background-color: #aaa;
  border-left: solid #000 1px;
}

.column-4 {
  background-color: #999;
  border-left: solid #000 1px;
}

p {
  line-height: 1.5;
}
