html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  padding: 1.5rem;
  float: left;
  text-align: center;
}

.col {
  background-color: #f2f2f2;
  display: inline-block;
  width: 25%;
  margin: 0;
  float: left;
  padding: 1.5rem;
}

div {
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: .875rem;
  font-weight: bold;
  margin: 0 auto 1.5rem;
}

h3 {
  font-size: .875rem;
  font-weight: normal;
  font-style: italic;
  margin: 0;
}

.btn {
  padding: .75rem;
  border-radius: 6px;
  background-color: #333;
  text-decoration: none;
  color: #fff;
  font-size: .875rem;
}

.btn:hover {
  background-color: #e2e2e2;
}

img {
  width: 100px;
  margin: 0 auto 1.5rem;
  display: block;
}

.column-1 {
  border-left: solid #000 1px;
  background-color: #e2e2e2;
}

.column-2 {
  background-color: #ccc;
  border-left: solid #000 1px;
}

.column-3 {
  background-color: #aaa;
  border-left: solid #000 1px;
}

.column-4 {
  background-color: #999;
  border-left: solid #000 1px;
}

p {
  line-height: 1.5;
}

.btn-small {
  text-decoration: none;
  padding: .75rem;
}

body {
  margin: 0;
}
